<%= provide(:title, 'profile') %>
<h1 class="text-center">my profile</h1>
<div class="container">
    <h1 class="tit">Hosted Events</h1>
    <div class="row">
        <% @hosting.each do |my_event| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 event_index_col">
            <div class="card shaddow_2">
                <div class="card-header">
                    <span class="float-right"><%= time_ago_in_words(my_event.date) %> from now</span>
                </div>
                <div class="card-body">
                    <p><%= my_event.description[0..50] %>...</p>

                    <strong>Total Invites :</strong> <small><%= my_event.invites.count %></small>

                </div>

                <div class="card-footer">
                    <!--end-main-container-->
                    <div class="talkbubble-wrap">
                        <button type="button" class="btn fa-lg" data-toggle="modal"
                            data-target="#myModal-<%=my_event.id%>">Invite
                            User(s)<%= my_event.id %></button>
                    </div>

                    <div id="myModal-<%=my_event.id%>" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Invite User(s)</h4>
                                </div>
                                <div class="modal-body">
                                    <% @user.each do |u|%>
                                    <span>
                                        <%= form_for(:invitation, url: { :controller=>'users', :action=>'invite'}) do |f|%>
                                        <span><%= u.name.upcase %></span>
                                        <%= f.hidden_field :event_id, :value => my_event.id %>
                                        <%= f.hidden_field :invite, :value => u.id %>
                                        <%= f.submit "Invite Me", class: "btn btn-sm btn-primary float-right mb-2 " %>
                                        <% end %>
                                    </span>
                                    <hr>
                                    <% end %>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
        <% end %>
    </div>
</div>
<br>
<div class="container">
    <h1 class="tit">Guesting Event(s)</h1>
    <div class="row">

        <% @guesting.each do |my_event| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 event_index_col">
            <div class="card shaddow_2">
                <div class="card-header">
                    <span class="float-right"><%= time_ago_in_words(my_event.date) %> from now</span>
                </div>
                <div class="card-body">
                    <p><%= my_event.description[0..80] %> ...</p>
                </div>
                <div class="card-footer">
                    <p> <strong>Hosted by</strong> : <small><%= my_event.creator.name %></small> </p>
                </div>
            </div>

        </div>
        <% end %>

    </div>
</div>