<main class="container">

    <!-- Header of the section -->
    <div class="m-5 text-center">
        <h1>Hi <%= @user.name %> </h1>

        <p>Here are all your related events.</p>
    </div>

    <!-- Second header -->
    <h2>Events you are hosting</h2>

    <!-- Trying to add a header to the hosted events past/future -->
    <div class="mb-std row rounded tall-box webox">

        <div class="col-5">
            <h4>Past events</h4>
            <% @user.events.past(Time.now).each do |event| %>
            <div class="events border mb-bit">
                <%= event.description %> <br>
                <%= event.date %>
            </div>
            <% end %>
        </div>

        <div class="col-2"></div>

        <div class="col-5 ">
            <h4>Upcoming events</h4>
            <% @user.events.upcoming(Time.now).each do |event| %>
            <div class="events  mb-bit">
                <%= event.description %> <br>
                <%= event.date %>
            </div>
            <% end %>
        </div>

    
    </div>



<!-- third header -->
    <h2> Events you are attending: </h2>


    <!-- Attended events -->
    <div class="mt-std mb-std rounded webox row tall-box">

        <div class="col-5">
                <h4>Past events</h4>

            <% @user.attendances.each do |attendance| %>
            <% if @events.past(Time.now).exists?(attendance.event_id) %>
            <div class="mb-bit events">
                <%= @events.past(Time.now).find(attendance.event_id).description %> <br>
                <%= @events.past(Time.now).find(attendance.event_id).date %> <br>

            </div>

            <%end%>

            <% end %>

        </div>

        <div class="col-2"></div>

        <div class="col-5">
                <h4>Upcoming events</h4>

            <% @user.attendances.each do |attendance| %>
            <% if @events.upcoming(Time.now).exists?(attendance.event_id) %>

            <div class="events mb-bit">
                    <%= @events.upcoming(Time.now).find(attendance.event_id).description %> <br>
                    <%= @events.upcoming(Time.now).find(attendance.event_id).date %> <br>       
                     </div>

            <% end %>
            <% end %>

        </div>

    </div>



</main>



<!-- PREVIOUS CODE (Showing all the previous events available in the website)
     ==> [ It should show ] the events created by the users and the events
     that the user will be attending.  -->