<h1 class="text-center main">Index page of Event</h1>

<div class="container mt-2">
    <h1 class="tit">Upcoming Events</h1>
    <div class="row">

        <% @upcoming_events.each do |event|%>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 event_index_col">
            <div class="card shaddow_2">
                <div class="card-header">
                    <span class="float-right"><%= time_ago_in_words(event.date)%> from now</span>
                </div>
                <div class="card-body">
                    <p><%= event.description[0..50] %>...</p>

                    <strong>Guest:</strong>
                    <ul>
                        <% Event.find(event.id).attendees.uniq.each do |guest| %>
                        <li><%= guest.name %></li>
                        <% end %>
                    </ul>

                </div>
                <div class="card-footer d-flex justify-content-between">
                    <p> <strong>Hosted by</strong> : <small><%= event.creator.name %></small> </p>
                    <% if logged_in? %>
                    <div>
                        <%= form_for(@attendance, url: { :controller=>'events', :action=>'attend_event'}, remote: true) do |f|%>
                        <%= f.hidden_field :event_id, :value=> event.id %>
                        <%= f.submit "Attend", class: "btn btn-sm btn-primary float-right mb-2 " %>
                        <% end %>
                    </div>
                    <% end %>
                </div>
            </div>

        </div>
        <% end %>
    </div>
    <hr>
    <h1 class="tit">Past Events</h1>
    <div class="row">

        <% @past_events.each do |event|%>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 event_index_col">
            <div class="card shaddow_2">
                <div class="card-header">
                    <span class="float-right"><%= time_ago_in_words(event.date)%> ago</span>
                </div>
                <div class="card-body">
                    <p><%= event.description[0..50] %>...</p>
                </div>
                <div class="card-footer">
                    <p>Hosted by : <small><%= event.creator.name %></small> </p>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>