<h1 class="text-center">event details</h1>
<main class="container">
        <div class="mx-auto  border border-success events">
                <div class="border">
                        <h1 class="text-center"><%= @event.event_title %></h1>
                        <p><%= @event.description %></p>
                        <h4>When is it taking place: <small><%= time_ago_in_words(@event.date) %> from
                                        today</small> </h4>
                </div>
                <strong>hosted by: </strong><small><%= User.find(@event.user_id).name %></small>
                <br>
                <div class="border">
                        <strong>Attendees :</strong>
                        <% @event.users.each do |x| %>
                        <ul>
                                <li><%= x.name %></li>
                        </ul>
                        <% end %>
                </div>
        </div>
</main>