<!DOCTYPE html>
<html>

<head>
  <title>PrivateEvents</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div class="nav-eventia navbar navbar-dark bg-dark flex-row border d-flex flex-nowrap bd-highlight">
  <div class="tborder"><%= link_to  "Main", root_path %> <br></div>
  <% if !logged_in? %>
  <div class="tborder"><%= link_to  "Sign up", new_users_path %> <br></div>
  <div class="tborder"><%= link_to  "Log in", login_path %> <br> </div>
  <%else%>
  <div class="tborder"><%= link_to  "Log out", logout_path, method: :delete %> <br> </div>
  <div class="tborder"><%= link_to  "Create event", events_new_path %> <br> </div>
  <div class="tborder"><%= link_to  "Your events", users_path(current_user) %> <br> </div>
  <%end%>
  <div class="tborder"><%= link_to  "All the events", events_show_path %> <br> </div>
</div>


<body>

  <% flash.each do |message_type,message| %>
  <div class="alert alert-<%=message_type%>"><%=message%></div>
  <%end%>
  <%= yield %>

</body>


</html>